* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
input, textarea, option {
  padding: .1em .5em;
}
textarea {
  width: 29em;
  height: 9em;
}
p {
  margin-bottom: 1em;
}

a { color: #58f; text-decoration: none; }
a:hover { text-decoration: underline; }

label {
  display: block;
  margin-top: 1em;
  margin-bottom: .25em;
  font-weight: bold;
}
fieldset {
  margin-top: 1em;
  padding: 0 2em 2em 2em;
  
  float: left;
  width: 46em;
}
legend {
  margin-left: 1em;
  padding: 0 .5em;
  font-size: 1.2em;
  font-weight: bold;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix { display: inline-block; } 

/* Hides from IE-mac \*/ 
* html .clearfix { height: 1%;     } 
.clearfix        { display: block; } 
/* End hide from IE-mac */ 

body {
  background-color: #cce5ea;
  color: #333;
  font: normal 85% verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  font-family: Lucida Grande, Trebuchet MS, sans-serif;
}


#header {
  background: url(/static/images/shine.gif) repeat-x 0 0;
  padding: 1em 10%;
  border-bottom: solid 6px #3f8591;
  background-color: #50a9b9;
  color: #e3f8fb;
}

#header a { 
  color: #e3f8fb;
  text-decoration: none;
}

#header h1 {
  margin: 0;
  padding-left: .67em;
  font-size: 3em;
  font-weight: normal;
}

#wrapper {
  width: 56em;
  margin-left: 10%;
  padding: 0 2em 2em 2em;
  border-right: solid 4px #95c2ca;
  border-bottom: solid 4px #95c2ca;
  background-color: #fff;
}
#loggedinas {
  float: right;
  padding-top: .25em;
  font-size: .8em;
  line-height: 1.3em;
}
#navbar li {
  float: left;
  margin-right: .5em;
  margin-bottom: 3em;
}
#navbar li a {
  display: block;
  padding: .25em 1em .5em 1em;
  background-color: #cce5ea;
  color: #334;
  font-size: 1.2em;
  font-weight: bold;
  ext-transform: uppercase;
  font-variant: small-caps;
  text-decoration: none;
}
#navbar li.selected a, #navbar li a:hover {
  background-color: #3f8591;
  color: #e3f8fb;
}

#content {
  clear: both;
  float: left;
  width: 56em;
  min-height: 400px;
}
* html #content {
  height: 400px;
}

#footer {
  width: 56em;
  margin-left: 10%;
  margin-bottom: 4em;
  padding: .25em 2em;
  color: #334;
  text-align: right;
}

#footer p {
  font-size: .8em;
}


div.notice, div.error, .errorExplanation {
  margin-bottom: 1em;
  padding: 1em;
}
div.notice {
  background-color: #f9f9c3;
  border: solid 1px #c9c9a0;
}
div.error, .errorExplanation {
  background-color: #fcc;
  border: solid 1px #966;
}
.errorExplanation h2 {
  font-size: 1.4em;
}
.errorExplanation li {
  list-style-type: disc;
  margin-left: 2em;
}



/* meeting form */

#meeting_earliest_container, #meeting_latest_container, #meeting_time_begin_container, #meeting_time_end_container, #meeting_decide_by_container, #meeting_attendees_container {
  float: left;
  margin-right: 3em;
}
#meeting_attendees_container {
  margin-right: 1em;
  width: 29em;
}

/* meeting show */
#description { 
  width: 380px;
  margin: 1em;
  background-color: #eee;                       
  border: 1px #999 solid;
  padding: 1em;
}

#week-container {
  width: 450px;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  padding: 0;
}

th, td {
  height: 20px;
  padding: 2px 4px;
  white-space: nowrap;
}

#week-container th { 
     font-size: 80%;
     width: 45px;
}

td.deselected-time
{ 
  background-color: #BBCCEE;
  border: 1px #3f8591 solid;
}

td.selected-time
{ 
  border: 1px #3f8591 solid;
  background-color: #DDEEFF;
}

td.chosen-time
{ 
  border: 1px #3f8591 solid;
  background-color: #AABBFF;
}

.mini-attendee-count
{ 
  font-size: 70%;
  color: #333333;
  float: right;
}

.decide-attendees { font-size: 70%; color: grey; }

.shade0 { background-color: #fff; }
.shade1 { background-color: #eef; }
.shade2 { background-color: #ddf; }
.shade3 { background-color: #ccf; }
.shade4 { background-color: #bbf; }
.shade5 { background-color: #aaf; }

.selected {
  background-color: #f9f9c3;
}

/* stuff */
#right-bar { 
  clear: right;
  font-size: 80%;
  width: 200px;
  float: right;
  padding: 0.7em;
}

.meeting-group p {
  background-color: #70c9d9;
  color: white;
  font-weight: bold;
  letter-spacing: 2em;
  text-align: right;
  margin: 0.5em;
  padding: 2px 10px;
  width: 510px;
  font-size: 115%;
  border: 1px #ddd solid;
}

.meeting-list
{ 
  margin-bottom: 1.5em;
}

.meeting-list li
{ 
  margin: 0.5em 2em;
  padding: 2px;
  width: 500px;
  font-size: 115%;
  border: 1px #ddd solid;
}

.meeting-decided
{
  color: #888;
  background-color: #eee;
}

.meeting-decided a
{ 
  color: #555;
}

.meeting-overdue
{
  background-color: #fbb;
}

.meeting-open
{
  background-color: #eee;
}

.meeting-ready
{
  background-color: #f9f9c3;
}

li.meeting-owned
{ 
  border-color: #bbf;
}

.inline
{
  display: inline;
}

.save
{ 
  float: right;
  padding: 2em 7em 0 0;
}

.button
{ 
  font-weight: bold;
  border-width: 1px;
  border-color: #bbb grey #ddd grey;
}

.button:hover
{ 
  background-color: #ddd;
}

.attendees-list
{ 
  width: 180px;
  overflow: auto;
}

.length
{ 
  padding-top: 1.5em;
}

.explanation
{ 
  display: inline;
  font-size: 80%;
}